body {
  @apply font-inter text-gray-800 antialiased;
  background: #f4f4f4;
  overflow-x: hidden;
  min-height: 100vh;
  min-width: 320px;
  transition: filter 1.6s;
}

header {
  text-align: right;
  display: flex;
  justify-content: space-between;
}

@screen lg {
  body {
    display: grid;
    grid-template:
      "b c" 1fr
      "d d" 96px /
      240px 1fr;
  }

  header {
    display: block;
    grid-area: 1/1/2/2;
  }

  footer {
    grid-column: 2 / -1;
  }
}


/* a:hover {
  color: #fff;
} */
