
header nav {
  position: sticky;
  top: 1em;
  z-index: 100;
}

.icon {
  display: inline-block;
  width: 18px;
  height: 18px;
}

.gallery {
  li {
    background: #33333333;
  }
  .icon {
    width: 80%;
    height: 80%;
    filter: grayscale(1) contrast(0.5);
  }
}



.callout {
  ul {
    margin: 0;
  }
  li::before {
    background-color: theme('colors.blue.300') !important;
  }
}


.prose code::before,
.prose code::after {
  content: '';
}

.note {
  background: rgb(100 219 255 / 30%);
}

.tip {
  background-color: theme('colors.yellow.100');;

  pre {
    background: theme('colors.yellow.200');
    color: theme('colors.gray.800');
    margin: 0;
  }
}

pre[class*="language-"],
.callout {
    padding: 1em 2em !important;
    margin: 0 -2em 0.5em !important;
    overflow: auto;
    position: relative;
}

mark {
  background: rgba(0,0,0,0.5);
  color: inherit;
}

sup {
  line-height: 1.5;
  display: inline-block;
}

.weshatch {
  z-index: 100;
}

@screen lg {
  .weshatch {
    border-bottom: 1px solid theme('colors.gray.700');
    @apply /*border-b*/ pb-3 mb-3;
  }
}
