
.weshatch {
  line-height: 1;
}


@screen lg {
  .weshatch {
    @apply border-b pb-3 mb-3;
  }
}


nav .active {
  color: #fff;
  border-bottom: 2px solid white;
}

.icon {
  display: inline-block;
  width: 18px;
  height: 18px;
}

footer a {
  display: inline-flex;
  padding: 0.5em;
  border-radius: 50%;
  background: greenyellow;
}

