:root {
  --padding: 48px;
  --transition: 0.2s;
  --bg-alpha: 1;
  --color-bg: rgba(24, 24, 24, var(--bg-alpha));
  --color-red: rgba(255, 44, 11, 0.5);
  --color-glint: #90231673;
  --distance: 180vh;
}

.overview { background: linear-gradient(0deg, #a0525253 0%, transparent 25% 50%, var(--color-bg)); }
.hero { height: var(--distance); width: 100vw; z-index: -1; }
.tint { background: var(--color-red); overflow: hidden; transition: background 1.6s; }

.about main { background: none; }
.about main::after,
.glint::after {
  background-color: var(--color-glint); /* linear-gradient(45deg, transparent 50%, xxxx 50%) */
  clip-path: polygon(0 0, 100vw 0, 100vw 100vh, 0 0);
  content: '';
  height: 100vh;
  pointer-events: none;
  position: fixed;
  top: 0;
  width: 100vw;
  opacity: 0.2;
}


.about main::after {
    /* background: linear-gradient(hsl(0deg 10% 48% / 5%), hsl(272deg 52% 60% / 50%)); */
  background-color: #77777733 !important;
}







.about {
  background: var(--color-bg, black); /* NOTE: <--- this is what the mask will pick up */
  color: theme('colors.gray.100');

  .weshatch {
    position: relative;
    border-color: rgb(214, 211, 209);
  }

  header {
    background: transparent;
    position: absolute;
    width: 100%;
  }

  main {
    grid-area: 1/1/2/3;
  }

  .container {
    @apply w-full m-auto px-8 max-w-lg;
  }

  .work {
    /* background: var(--color-bg); */
    --bg-alpha: 1.0;
  }

  .block + .block {
    @apply mt-16;
  }


  dt::after {
    content: ':';
  }
}


@screen lg {
  .about header { position: relative; }
}