:root {
  --color-bg: 24, 24, 24;
  --padding: 48px;
  --transition: 0.2s;
}


.about {
  color: theme('colors.gray.100');

  header {
    background: transparent;
  }

  main {
    /* background: #181818de; */
    background: rgba(var(--color-bg), 0.87);
    clip-path: polygon(0 5vw, 50% 0vw, 100% 5vw, 100% 100%, 0% 100%);
    grid-area: 1/1/2/3;
    margin-top: 48vh;
    position: relative;

    &::before {
      background: white;
      clip-path: polygon(0 5vw, 50% 0vw, 100% 5vw, 100% 5.1vw, 50% 0.1vw, 0 5.1vw);
      content: '';
      height: 80px;
      position: absolute;
      top: 0;
      width: 100%;
      z-index: 1;
    }

    &::after {
      background: #1b1b1b;
      clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 0%);
      content: '';
      height: 100%;
      opacity: 0.4;
      position: fixed;
      top: 0;
      width: 100%;
      z-index: -1;
    }
  }

  .more::after {
    animation: pulse 2s infinite;
    content: '〉';
    display: block;
    font-size: 32px;
    transform: rotate(90deg);
    height: 40px;
    width: 16px;
    top: 5vw;
    position: relative;
  }

  .container {
    @apply w-full m-auto px-8 max-w-lg; /* pointer-events-auto; */
  }

  .work {
    background: rgba(var(--color-bg), 1);
  }

  .block {
    @apply mt-12;
  }


  dt::after {
    content: ':';
  }
}


@screen md {
  .about {
    main {
      /* clip-path: ellipse(140% 75% at 50% 75%); */
    }
  }
}