.post {
  header {
    background: theme('colors.gray.800');
  }

  footer {
    background: repeating-linear-gradient(
      45deg,
      rgb(244 244 244),
    rgb(244,244,244) 16px,
    #a2a2a2 18px
    );
  }


  .item:hover {
    animation: blip 2s infinite;
  }

}

