/* Add custom utilities here! */
@layer utilities {
  time {
    @apply text-sm;
  }

  .cover {
    @apply fixed top-0 left-0 right-0 bottom-0;
  }

  .icon {
    display: inline-block;
    width: 24px;
    height: 24px;
  }

  .item:hover {
    animation: blip 2s infinite;
  }

  @keyframes blip {
    0%, 100% {
      color: theme('colors.gray.900');
    }
    50% {
      color: theme('colors.gray.500');
    }
  }

  @keyframes pulse {
    0% { opacity: 1; }
    70% { opacity: 0; }
    100% { opacity: 1; }
  }

  @keyframes colorize {
    0% {
      filter: hue-rotate(0deg);
    }
    100% {
      filter: hue-rotate(359deg);
    }
  }

}