.nav {
  border-bottom: 1px solid #444;
  position: absolute;
  /* right: 93px; */
  /* top: 43px; */
  left: 0;
  bottom: 0;
  width: 100%;
}

.nav__list {
  display: inline-block;
  float: right;
  transform: skew(0deg, 6deg);
}

.nav__item {
  display: inline-block;
  list-style: none;
}

.nav__link {
  padding: 1em;
}

