.nav {
  position: absolute;
  left: 0;
  bottom: -32px;
  width: 100%;
}

.nav__list {
  /* display: inline-block; */
  float: right;
  transform: skew(0deg, var(--skew));
}

.nav__item {
  display: inline-block;
  list-style: none;
}

.nav__link {
  padding: 1em;
}


/* position: static; */

.sticky {
  position: fixed;
  top: 0;
  left: 0;
}

.bottom {
  position: absolute;;
  bottom: 0;
}
