.header {
  color: white;
  height: 64vh;
  /* overflow: hidden; */
  z-index: 1;
}

.header .container {
  height: 100%;
}

.weshatch-is-great {
  cursor: pointer;
  position: absolute;
  width: 110%;
  /* background: rgba(110,110,110, 0.2); */
  background: var(--colour-reflect);
  transform: rotate(-4deg);
  padding: 12px 10%;
  left: -5%;
  /* top: 20vh; */
}

/*

transform: perspective(1546px) translateY(-22%) rotateX(51deg);

.parallax {
  will-change: transform, opacity;
  opacity: calc( 1 - calc(var(--scroll) * 0.01));
  transform: translateY(
    calc(var(--scroll) * 0.5px)
  );
} */