.header {
  color: white;
  height: 80vh;
  z-index: 1;
}

.header .container {
  height: 100%;
}

.weshatch-is-great {
  position: absolute;
  width: 110%;
  /* background: rgba(110,110,110, 0.2); */
  background: var(--colour-reflect);
  transform: rotate(-4deg);
  padding: 12px 10%;
  left: -5%
}

.parallax {
  will-change: transform, opacity;
  opacity: calc( 1 - calc(var(--scroll) * 0.01));
  transform: translateY(
    calc(var(--scroll) * 0.5px)
  );
}