.header {
  /* background-color: #111; */
  /* height: 150px; */
  /* padding: 20px; */
  color: white;
  /* transform: rotateZ(-11deg) translate(0vw, 0%); */
  /* width: 110vmin; */
  /* transform-origin: left bottom; */
  height: 80vh;
  z-index: 1;
}

.header .container {
  height: 100%;
}

.header .h1 {
  /* background: rgba(110,110,110,0.5);
  transform: rotate(-4deg); */
}


.scrolly {
  position: absolute;
  opacity: calc( 1 - calc(var(--scroll-amount) * 0.002));
  transform: translateY(calc(var(--scroll-amount) * var(--multiplier) * 1px ));
  will-change: transform;
  width: 110%;
  background: rgba(110,110,110, 0.2);
  transform: rotate(-4deg);
  padding: 12px 10%;
  left: -5%
}