.grid {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  margin: 0;
  padding: 0;
  max-width: 100vmin;

  /* transform: rotateX(60deg) rotateY(0deg) rotateZ(-45deg); */
  /* transform: rotateX(44deg) rotateY(18deg) rotateZ(-18deg); */
}

.grid-item {
  display: inline-flex;
  height: 96px;
  flex: 0 0 33.333%;
  display: flex;
  align-items: center;
  justify-content: center;
}


.icon {
  width: 54px;
  filter: grayscale(100) contrast(0.5);
}

.icon--wide {
  width: 96px;
}
