.grid {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  margin: 0;
  padding: 0;
  max-width: 100vmin;

  /* transform: rotateX(60deg) rotateY(0deg) rotateZ(-45deg); */
}

.grid-item {
  display: inline-flex;
  height: 120px;
  flex: 0 0 33.333%;
  min-width: 240px;
}
