

.tile {
  border: 2px solid black;
  border: 2px solid rgba(0,0,0, 0.12);
  cursor: pointer;
  flex: 1;
  margin: 0.5em;
  padding: 1em;
  transition: all 1s;
}

.tile.active {
  transform: scale(2.2) rotate(12deg) skew(12deg, -6deg);
  background: rgba(11,11,11, 0.9);
  z-index: 100;
}

.tile:hover {
  border: 2px greenyellow dashed;
  color: #fff;
  animation: 2s stupid infinite;
}


.partners {}
.span2017 {}
.walmart {}
.nougat {}
.spec {}
.telus {}
.material-blog {}
.nyulangone {}
.sprout {}
.ride {}
.minime {}
.primetime {}
.hp {}
.hugeinc {}
.mcm {}




@keyframes stupid {
  0% {
    border-color: chocolate;
  }
  22% {
    border-color: darkmagenta;
  }
  46% {
    border-color: turquoise;
  }
  58% {
    border-color: khaki;
  }
  72% {
    border-color: fuschia;
  }
  82% {
    border-color: crimson;
  }
}