.App {
  text-align: center;
  transform: rotateZ(6deg) skew(3deg, -10deg);
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #111;
  height: 150px;
  padding: 20px;
  color: white;


    transform: rotateZ(-11deg) translate(0vw, 0%);
    text-align: center;
    width: 110vmin;
    transform-origin: left bottom;
}

.App-title {
  font-size: 5.5em;
  color: #212121;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
