
html {
  animation: colorize 99s infinite;
}

body {
  /* filter: invert(calc( var(--scroll_) * 100%)); */
  filter: invert(0%);
  transition: filter 2s; 
  background: #2121A1;
}

@keyframes colorize {
  0% {
    filter: hue-rotate(0deg);
  }
  100% {
    filter: hue-rotate(359deg);
  }
}

.inversion {
  filter: invert(84%);
}


 /* -------------------------------- */

main {
  min-height: calc(100vh - 64px);
  background: rgba(0,0,0, 0.7);
  clip-path: polygon(0 0, 100% 6vw, 100% 100%, 0% 100%);
  overflow: hidden;
  width: 100%;
}

/** top border */
main::before {
  content: '';
  clip-path: polygon(0 0%, 100% 6vw, 100% 6.5vw, 0% .5vw);
  position: absolute;
  background: #222;
  width: 100%;
  height: 100%;
  z-index: 1;
}

/* interesting poly effect, within main */
main::after {
  content: '';
  clip-path: polygon(0 0, 100% 6vw, 100% 100%, 0% 0%);
  position: absolute;
  background: #222;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 3vw;
  opacity: 0.4;
  z-index: -1;
}

.section {
  padding: var(--padding) 0;
}

.section:first-child {
  padding-top: calc(2 * var(--padding));
}

.page {
  padding-top: var(--padding) !important;
}

