
.App-header {
  background-color: #111;
  height: 150px;
  padding: 20px;
  color: white;
  transform: rotateZ(-11deg) translate(0vw, 0%);
  text-align: center;
  width: 110vmin;
  transform-origin: left bottom;
}

.App-title {
  font-size: 5.5em;
  color: #212121;
}

/* -------------------------------- */

.fade-appear,
.fade-enter {
  opacity: 0;
}

.fade-appear-active,
.fade-enter-active {
  transition: opacity .3s linear;
  opacity: 1;
}

.fade-exit {
  transition: opacity .2s linear;
  opacity: 1;
}

.fade-exit-active {
  opacity: 0;
}