---
title: About
---
{% from "macros.njk" import subsection %}
{% extends 'page.njk' %}
{% set bodyClass = 'about' %}

{% block body %}
  <div class="hero relative bg-gray-900">

    {# masked #}
    <div class="colorize glint red fixed" id="shader">
      <canvas class="birds"></canvas>
      <span class="more flex justify-center absolute"></span>
    </div>

    {# mask #}
    <div class="tint cover" style="--t:0">
      <canvas class="mask"></canvas>
      {# to be loaded by svg mask: #}
      <svg class="hidden icon" width="160px" height="160px" viewBox="0 0 160 160" xmlns="http://www.w3.org/2000/svg">
        <path d="m 79.00009,54.00429 0,10 10,0 0,-10 -10,0 z m -40,0 0,10 10,0 0,-10 -10,0 z m 0,40 20,0 0,10 -20,0 0,-10 z m 50,0 0,10 -20,0 0,-10 20,0 z m 0,-60 0,-10 10,0 0,10 -10,0 z m -50,0 10,0 0,10 30,0 0,-10 10,0 0,10 10,0 0,10 10,0 0,10 10,0 0,30 -10,0 0,-20 -10,0 0,20 -10,0 0,-10 -50,0 0,10 -10,0 0,-20 -10,0 0,20 -10,0 0,-30 10,0 0,-10 10,0 0,-10 10,0 0,-10 z m -10,-10 10,0 0,10 -10,0 0,-10 z" />
      </svg>
    </div>

  </div>

  <section class="overview pb-12">
    <div class="container">
      <div class="text-lg text-justify block">
        <p data-fx="intro" style="xxopacity:0">I'm a front-end engineer with a broad set of skills. Usually I'm messing with the newest
          paradigms in the front-end world, but you'll also find me exploring random things server-side
          or in the world of art and design.
        </p>

        <a data-fx="cv"
          class="inline-block mt-4 font-black text-yellow-500 colorize"
          target="_blank"
          rel="noopener noreferrer"
          href="https://docs.google.com/document/d/1eHbgSWL5puQnpyi2SiLGgqpW0Jp0W5t-dpUXdb461Gg"
        >
          wes hatch CV
        </a>
      </div>

      {{ subsection("Experience", about.experience, 'dl') }}
      {# {{ subsection("Demos, Random things", about.repos) }} #}
      {{ subsection("Selected NPM packages", about.npm) }}

    </div>
  </section>

  <section class="work py-12 bg-gray-900">
    <div class="container">
      <h3 class="mb-4 font-bold">Selected Work</h3>
      <ul class="gallery grid grid-cols-3 gap-4">
        {% for i in ['mcm', 'walmart', 'hp', 'nyulangone', 'nbc', 'google'] %}
          {% set j = "work/" + i %}
          <li class="h-24 grid place-items-center rounded-xl" data-fx="icon">{% icon j %}</li>
        {% endfor %}
      </ul>
    </div>
  </section>
{% endblock %}

{% block scripts %}
  <script src="/static/home.bundle.js"></script>
{% endblock %}
