:root {
  --skew: 3deg;
  --min-width: 320px;
  --column-width: 480px;
  --max-width: 960px;
  --colour-reflect: #1b1b1b; /* 0,0,0 at 0.4 */
  --colour-bg: 27, 27, 27;
  --padding: 48px;
  --transition: 0.2s;
}


/* -------------------------------- */


* {
  position: relative;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Nunito', sans-serif;
  /* font-family: 'IBM Plex Sans', sans-serif; */

  background: #212121;
  color: #bbb;
  overflow-x: hidden;
  min-width: var(--min-width);
}

body, html {
  height: 100%;
}

html {
  animation: colorize 99s infinite;
}


/* -------------------------------- */

h1, h2, h3, h4 {
  margin: 0 0 0.2rem;
  color: rgba(158, 158, 158, 1);
  font-weight: 100;
}

h1, .h1 {
  font-size: 24px;
}

h2, .h2 {
  font-size: 18px;
}

h3, .h3 {
  font-size: 16px;
}

.color-white { color: rgb(255, 255, 255); }
.color-yellow { color: rgb(255, 211, 0); }
.font-heavy { font-weight: 600; }

pre {
  white-space: inherit;
}

/* -------------------------------- */

a {
  text-decoration: none;
  color: inherit;
  font-weight: bold;
  color: #c8c8c8;
}

a:hover {
  color: #fff;
}

a::before {
  content: '';
  background: currentColor;
  position: absolute;
  width: 100%;
  height: 1px;
  bottom: 0;
  left: 0;
  visibility: hidden;
  border-radius: 5px;
  transform: scaleX(0);
  transition: var(--transition);
}


/* -------------------------------- */


ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.bullets {
  padding-left: 24px;
  list-style-type: disc;
  max-width: 240px;
}

dt {
  float: left;
  clear: left;
  width: 100px;
  text-align: right;
  padding-right: 0.5em;
}

dt::after {
  content: ':';
}

dd {
  margin-left: 100px;
}

/* -------------------------------- */


.container {
  max-width: var(--column-width);
  min-width: var(--min-width);
  margin: 0 auto;
  padding: 0 32px;
  width: 100%;
}

/* .container--large {
  max-width: var(--max-width);
} */

.flex {
  display: flex;
  flex-wrap: wrap;
}

.block + .block {
  margin-top: var(--padding);
}


 /* -------------------------------- */

.fade-appear,
.fade-enter {
  filter: blur(3px);
  opacity: 0;
}

.fade-appear-active,
.fade-enter-active {
  filter: blur(0);
  opacity: 1;
  transition: opacity .3s linear,
              filter .3s;
}

.fade-exit {
  filter: blur(0);
  opacity: 1;
  transform: translateY(0);
  transition: opacity .2s linear,
              filter .2s,
              transform .3s;
}

.fade-exit-active {
  opacity: 0;
  filter: blur(3px);
  transform: translateY(20px);
}
