* {
  position: relative;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: #212121;
  color: #bbb;
  overflow-x: hidden;
}

body, html {
  height: 100%;
}

/* -------------------------------- */

h1, h2, h3, h4, h5 {
  margin: 0 0 0.2em;
  color: rgba(158, 158, 158, 1);
}

.h1 {
  font-size: 24px;
}

.h2 {
  font-size: 18px;
}


/* -------------------------------- */

a {
  text-decoration: none;
  color: inherit;
  font-weight: bold;
}

a:hover {
  color: #fff;
}

/* -------------------------------- */

main {
  /* background: red; */
  background: rgba(0,0,0, 0.6);
  /* clip-path: polygon(0 0%, 100% 6%, 100% 94%, 0% 100%); */
  clip-path: polygon(0 0%, 100% 6%, 100% 100%, 0% 100%);
  min-height: calc(100vh - 64px);

  overflow: -webkit-paged-y;
}

main::before {
  content: '';
  clip-path: polygon(0 0%, 100% 6%, 100% 6.5%, 0% .5%);
  position: absolute;
  background: #222;
  width: 100%;
  height: 100%;
}

main > div {
  /* transform: rotateZ(6deg) skew(3deg, -10deg); */
  padding: 64px 0;
  height: 100%;
}

.container {
  max-width: 960px;
  margin: 0 auto;
  padding: 0 5%;
  width: 100%;
}

.page {
  position: absolute;
}

.flex {
  display: flex;
  flex-wrap: wrap;
}

.column {
  flex: 0 0 50%;
  border: 30px solid transparent;

  overflow: hidden;
}